@model List<XtraBlog.UI.Models.Admin>

<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Blog Admins</h1>
    <a href="/Dashboard/Admin/Create" class="d-none d-sm-inline-block btn btn-sm btn-info shadow-sm">
        <i class="fas fa-plus fa-sm text-white-50"></i> Create Admin
    </a>
</div>

<div class="container-fluid">
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-info">DataTable for Admin list</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Position</th>
                            <th>Profile Photo</th>
                            <th>Edit Action</th>
                            <th>Delete Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var admin in Model)
                        {
                            <tr>
                                <td>@admin.Name</td>
                                <td>@admin.Description</td>
                                <td>@admin.Position</td>
                                <td>
                                    <div style="width: 100px; height: 100px; overflow: hidden; border-radius: 50%;">
                                        <img src="@admin.PhotoURL" alt="Photo" class="img-fluid" style="width: 100%; height: 100%; object-fit: cover;" />
                                    </div>
                                </td>
                                <td>
                                    <a href="/Dashboard/Admin/Edit/@admin.Id" class="btn btn-sm btn-warning">
                                        <i class="fas fa-edit"></i> Edit
                                    </a>
                                </td>
                                <td>
                                    <form method="post" action="/Dashboard/Admin/Delete/@admin.Id" class="d-inline">
                                        <button type="submit" class="btn btn-sm btn-danger">
                                            <i class="fas fa-trash-alt"></i> Delete
                                        </button>
                                    </form>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
